* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f3ed;
    color: #222;
}


/* Header */

header {
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f3ed;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

nav a:hover {
    color: #777;
}


/* Hero */

.hero {
    min-height: 90vh;
    padding: 80px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background: #302f2f;
    color: white;
}

.hero-text {
    max-width: 600px;
}

.small-title {
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero h1 {
    font-family: Georgia, serif;
    font-size: 65px;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 25px;
}

.hero p {
    line-height: 1.7;
    color: #ddd;
    margin-bottom: 30px;
}

.button,
.contact-button {
    display: inline-block;
    padding: 13px 25px;
    background: white;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.button:hover,
.contact-button:hover {
    background: #ddd;
}


/* Photo */

.hero-photo {
    display: flex;
    justify-content: center;
}

.photo-box {
    width: 300px;
    height: 370px;
    border: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #777;
    font-size: 20px;
}
.photo-box img{
    width:100%;
    height:100%;
    object-fit: cover;
}


/* Sections */

.section {
    padding: 90px 10%;
}

.section-title {
    font-family: Georgia, serif;
    font-size: 42px;
    margin-bottom: 50px;
}

.dark {
    background: #302f2f;
    color: white;
}


/* About */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.about-container p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.info-box {
    border-left: 3px solid #555;
    padding-left: 30px;
}


/* Skills */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    border: 1px solid #aaa;
    padding: 15px 25px;
    border-radius: 5px;
}


/* Projects */

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.project-card {
    padding: 35px;
    background: white;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-number {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.project-card h3 {
    font-family: Georgia, serif;
    font-size: 25px;
    margin-bottom: 15px;
}

.project-card p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.project-card span {
    font-size: 13px;
    color: #666;
}


/* Education */

.education-card {
    border-left: 4px solid white;
    padding-left: 30px;
}

.education-card h3 {
    font-family: Georgia, serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.education-card p {
    margin: 10px 0;
}


/* Contact */

.contact-container {
    text-align: center;
}

.contact-container p {
    margin-bottom: 30px;
}

.contact-button {
    background: #302f2f;
    color: white;
}

.social-links {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-links a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}


/* Footer */

footer {
    padding: 25px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 13px;
}


/* Mobile */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 60px 7%;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .photo-box {
        width: 220px;
        height: 280px;
    }

    .about-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .section {
        padding: 60px 7%;
    }

    .section-title {
        font-size: 34px;
    }

}